# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
salary_management/
backend/salary_management/


# Databases & local sqlite
*.db
*.sqlite3
backend/salary.db

# Node / React
node_modules/
dist/
build/
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
